@media only screen and (max-width: 499px) {
    .gridContainer {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.75fr 1fr;
        grid-template-areas:
            "meni"
            "grupe"
            "studenti";
    }
    #meni {
        text-align: center;
        margin: 0px !important;
    }

    #tabelaGrupe td,
    th {
        display: none;
    }
    #tabelaGrupe th:first-child,
    td:first-child {
        display: block;
        border-right: 0px;
    }
    .menuItem {
        margin: 0px !important;
    }

    #menuList {
        padding: 0px !important;
    }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
    .gridContainer {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.5fr 1fr;
        grid-template-areas:
            "meni"
            "grupe"
            "studenti";
    }
    li.menuItem {
        float: left;
    }
}

@media only screen and (min-width: 800px) {
    .gridContainer {
        display: grid;
        height: 100vh;
        grid-template-columns: 0.6fr 0.4fr;
        grid-template-rows: 1fr 6fr;
        grid-template-areas:
            "meni meni"
            "studenti grupe";
    }
    li.menuItem {
        float: left;
    }
}

#meni {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: rgb(241, 241, 234);
    grid-area: meni;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 2px;
    height: 94px;
}

#studenti {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: rgb(241, 241, 234);
    grid-area: studenti;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    border-radius: 10px;
    margin: 2px;
}

#grupe {
    background: rgba(0, 0, 0, 0.5);
    grid-area: grupe;
    border-radius: 10px;
    margin: 2px;
    box-sizing: border-box;
    padding: 20px;
    color: rgb(241, 241, 234);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

#menuList {
    margin-top: auto;
    padding-left: 10px;
    overflow: hidden;
}

li.menuItem {
    list-style-type: none;
    margin: 5px 15px;
}

li.menuItem > :first-child {
    margin-left: 0px !important;
}

table,
th,
td {
    padding: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td,
table th {
    border: 2px solid rgba(127, 155, 173, 0.7);
}
table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}
#studenti > div {
    border-radius: 15px 50px 30px;
    background: linear-gradient(#141e30, #243b55);
    width: 200px;
    height: 150px;
    text-align: center;
    opacity: 0.7;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}
.menuLink{
    color: white;
}
.menuLink:hover {
    background: #03e9f4;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
* {
    box-sizing: border-box;
}
