* {
    box-sizing: border-box;
}

@media only screen and (max-width: 499px) {
    .gridContainer {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "meni"
            "odabirVjezbe"
            "grafovi";
    }
    #meni {
        text-align: center;
        margin: 0px !important;
    }

    #tabelaGrupe td,
    th {
        display: none;
    }
    #tabelaGrupe th:first-child,
    td:first-child {
        display: block;
        border-right: 0px;
    }
    .menuItem {
        margin: 0px !important;
    }

    #menuList {
        padding: 0px !important;
    }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
    .gridContainer {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "meni"
            "odabirVjezbe"
            "grafovi";
    }
    li.menuItem {
        float: left;
    }
}

@media only screen and (min-width: 800px) {
    .gridContainer {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "meni meni meni"
            "odabirVjezbe grafovi grafovi";
    }
    li.menuItem {
        float: left;
    }
    .grafovi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
}

#meni {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: rgb(241, 241, 234);
    grid-area: meni;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    height: 94px;
}

#odabirVjezbe {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: rgb(241, 241, 234);
    margin: 10px;
    grid-area: odabirVjezbe;
    border-radius: 10px;
    padding: 10px;

}
.grafovi {
    grid-area: grafovi;
    margin: 3px;
    padding: 8px;
}
.graf {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: rgb(241, 241, 234);
    grid-area: graf;
    width: 100%;
    padding: 8px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.btn-vjezbe-group > button {
    background: linear-gradient(#141e30, #243b55);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: #fff;
    margin-bottom: 15px;
    cursor: pointer;
    width: 100%;
    display: block;
    border-radius: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    height: 10vh;
    border:none;
    font-size: medium;
    letter-spacing: 4px;
}
.btn-vjezbe-group>button:hover {
    background: #03e9f4;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.sub-btn{
    display: flex;
    flex-flow: wrap;
}
.sub-btn button {
    background: linear-gradient(#141e30, #243b55);  
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    float: left;
    border: none;
    border-bottom: 1px solid #f1f2f3;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: medium;
    flex:1;
}
.sub-btn>button:hover{
    background: #03e9f4;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4;
}

#menuList {
    margin-top: auto;
    padding-left: 10px;
    overflow: hidden;
}

li.menuItem {
    list-style-type: none;
    margin: 5px 15px;
}

li.menuItem > :first-child {
    margin-left: 0px !important;
}

.menuLink {
    color: white;
}
.menuLink:hover {
    background: #03e9f4;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}


