

@media only screen and (max-width: 799px){
    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
}
@media only screen and (min-width: 800px){
    .gridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(#141e30, #243b55);
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 12pt;
    font-family: sans-serif;
}



.forma1 {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: rgb(241, 241, 234);
    padding: 50px 100px;
    border-top: 10px solid #03e9f4;
    border-radius: 10px;
}

.check{
    float: left !important;
    width: fit-content !important;
    margin-top: 12px !important;
}
#bezGresaka{
    width: fit-content !important;
    margin-left: 25px;
}


label,
input,
textarea {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
}
select {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background: linear-gradient(#141e30, #243b55);
    border: none;
    border-radius: 3px;
}

select:hover {
    background: #03e9f4;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 3px #03e9f4, 0 0 15px #03e9f4, 0 0 10px #03e9f4,
        0 0 100px #03e9f4;
}

input {
    margin-bottom: 24pt;
}

h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

span {
    font-size: 8pt;
}

textarea {
    color: #ffffff;
    background: linear-gradient(#141e30, #243b55);
    resize: none;
    width: 100%;
    font-size: small;
}

input,
textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    outline: none;
}

input:focus,
textarea:focus {
    border: 1px solid #6bd4b1;
}

button {
    margin-top: 15px;
    background: linear-gradient(#141e30, #243b55);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: #fff;
    margin-bottom: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    height: 5vh;
    border: none;
    font-size: medium;
    letter-spacing: 4px;
    text-align: center !important;
}
button:hover {
    background: #03e9f4;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}
